* {
    margin: 0;
    box-sizing: border-box;
}
body {
    font-family: Georgia, 'Times New Roman', Times, serif;
}

h1, h3, p {
   padding: 1rem;
   margin-top: 1rem;
   color: rgb(205, 214, 222);
}
p{
    margin-bottom: 1rem;
}
.text1 {
    margin-bottom: 3rem;
}

a {
    background: white;
    color:rgb(30, 122, 213);
    padding: 1rem;
    font-size: 14px;
    text-decoration: none;
    border-radius: 10px;

}

section {
    padding-top: 1rem;
    padding-bottom: 2rem;
}

.grid {
    background: rgb(30, 122, 213);
}
.wrapper {
    width: calc(100% - 2rem);
    margin-left: 1rem;
    margin-right: 1rem;
}

.grid .wrapper{
    --columns: 1;
    display: grid;
    grid-template-columns: repeat(var(--columns), 1fr);
}

/* SEGUNDA SECTION CURSOS */

.column-flex {
    text-align: center;
    margin: 1rem;
    
}

.column-flex .wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 1;
}

.column-flex article {
    max-width: 400px;
}

/* TERCERA SECCION */
.imagen3 {
    display: flex;
    justify-content: center;
}





/* RESPONSIVE */
@media screen and (min-width: 680px){
    .grid .wrapper{
        --columns : 2;
    }

    .column .wrapper {
        --columns: 2;
    }

    .grid .wrapper {
        --columns: 2
    }

    .grid.section .imagen3{
        grid-row-start: 1;
    
    }
    
    .grid.section.right .imagen3{
        grid-column-start: 2;
    }
}

@media screen and (min-width: 1024px) {
    .wrapper {
        width: 100%;
        max-width: 1200px;
        margin-left: auto;
        margin-right: auto;
    }

    .column .wrapper {
        --columns: 3;
    }

    .grid .wrapper {
        --columns: 2;
        display: grid;
        grid-template-columns: repeat(var(--columns), 1fr);
    }

    .grid.section .imagen3{
        grid-row-start: 1;
    
    }
    
    .grid.section.right .imagen3{
        grid-column-start: 2;
    }
}

